@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html { 
  height: 100%;
  background-color: #f2f2f2;
  padding: 0 40px;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  word-wrap: break-word;
  border-radius: 4px;
}

.button--brown {
  background-color: #756257;
}

.button--blue {
  background-color: #83B3D3;
}

.button__disabled {
  background-color: #aaaaaa;
  border-color: #aaaaaa;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
} 

.navigation__button {
  display: block;
  margin: 14px 0 14px 20px;
  padding: 0;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.navigation__button:focus {
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
}

.navigation__button:hover {
  background-color: #615048;
}

.navigation__button:active {
  background-color: #615048;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.5)
}

.main-header {
  margin: 0;
  padding: 0 70px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation-logo {
  display: flex;
  z-index: 1;
  width: 139px;
  margin-right: 30px;
  margin-bottom: -5px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 440px;
}


.navigation__link {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin: 2px 2px 0;
  padding: 17px 15px 18px;
}

.navigation__link--active:before {
    content: "";
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: -2px;
    height: 2px;
    background-color: #756257;
}

.navigation__link:hover {
  color: #756257;
}

.navigation__link:active {
  color: #756257;
  opacity: 0.3;
}

.navigation__link--main:active::before {
  content: "";
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation__link:hover .navigation__icon {
  fill: #756257;
}

.navigation__item {
  position: relative;
}

.navigation__user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  max-width: 350px;
  margin-left: auto;
}

.navigation__user .navigation__link {
  margin: 0;
  padding: 22px 12px 20px;
  min-width: 17px;
  min-height: 17px;
}

.like {
  position: absolute;
  margin-top: -10px;
  margin-left: 3px;
  padding: 3px 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 10px;
  line-height: 13px;
  color: white;
  background-color: #7DB54F;
  border-radius: 10px;
}

.navigation__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.main-index {
  text-align: center;
} 


.background {
  background-image: url("../images/logo/divider.svg"), url("../images/background/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 51px;
  padding-bottom: 82px;
}


.logo {
  display: block;
  margin: 0 auto;
}

.paragraph { 
  padding: 63px 230px 80px;
}

.paragraph-header {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph-subtitle {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin-top: 31px;
}

.advantages__list {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item { 
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 28px; 
  font-weight: 700;
  width: 400px;
  min-height: 384px;
  text-align: center;
  color: #000000;
}

.advantages__item--white {
  flex-direction: row;
  color: #FFFFFF;
  background-color: #83B3D3; 
}

.advantages__item--big {
  width: 1200px;
}

.advantages__item--sky {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item--sky2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__title {
  margin: 0;
  font-size: 28px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages__item--white .advantages__title {
  padding-top: 10px;
}

.advantages__title--head {
  margin-top: 98px;
}

.advantages__title--icon {
  margin: 0;
  padding-top: 23px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}


.advantages__description {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}

.advantages__description--img {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}

.advantages__icon--home {
  background-image: url(../images/main/home.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
  margin-top: 89px;
  width: 75px;
  height: 72px;
}

.advantages__icon--food {
  background-image: url(../images/main/burger.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
  margin-top: 91px;
  width: 74px;
  height: 70px;
}

.advantages__icon--gift {
  background-image: url(../images/main/gift.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
  margin-top: 85px;
  width: 64px;
  height: 76px;
}

.advantages__center--text {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 75px;
}

.advantages__item--white .advantages__center--text {
  padding: 0 90px;
}



.interested {
  padding: 90px 303px 93px;
}

.interested__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px; 
  margin-bottom: 29px;
  text-transform: uppercase;
}

.interested__description {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 53px;
}

 
.interested__search--button {
  display: block;
  box-sizing: border-box;
  width: 575px;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
}

.interested__search--button:hover {
  background-color: #615048;
}

.interested__search--button:focus {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
}

.interested__search--button:active {
  background-color: #615048;
  box-shadow: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
}


 .distribution {
  display: block;
  text-align: center;
  color: #FFFFFF;
  background-color: #C4C4C4;
  background-image: url("../images/background/background.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 94px 200px;
}

.distribution__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  text-transform: uppercase;
}

.distribution__description {
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  margin-top: 29px;
}

.distribution__form {
  display: flex;
  justify-content: center;
  width: 800px;
  margin-top: 46px;
}

.distribution__field {
  width: 600px;
  height: 60px;
  padding: 0 22px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0px 0px 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.distribution__field:hover {
  background-color: #E6E6E6;
}

.distribution__field:focus {
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
  background: #E6E6E6;
}

.distribution__field:disabled {
  box-shadow: 0 0 0 3px #FF5757;
  outline: none;
  background: #ffffff;
}


.button__news--mail {
  width: 200px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  line-height: 26px;
}

.button__news--mail:hover {
  background-color: #68A2CA;
}

.button__news--mail:focus {
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}


.button__news--mail:active {
  background-color: #68A2CA;
  box-shadow: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5)
}


.page-footer__container {
  display: flex; 
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 40px 72px 30px;
  background-color: #FFFFFF;
}

.footer-social {
  max-width: 140px;
  transform: translateX(-10px)
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  max-width: 140px;
  margin-right: auto;
  list-style-type: none;
  align-items: center;
}

.footer-social__link a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 3px;
  box-sizing: border-box;
  transform: translateY(-2px);
}

.footer-social__item:last-child .footer-social__link {
  margin-right: 0px;
}

.footer-social__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social__link:hover .footer-social__icon {
  fill: #68A2CA;
}

.footer-social__link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
  border-radius: 10px;
}

.footer-social__link:active footer-social__icon {
  fill: #68A2CA;
  box-shadow: none;
  border: none;
  outline: none;
  opacity: 0.3;
}

.footer-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  max-width: 720px;
  transform: translateX(15px);
}

.footer-phone__link {
  text-decoration: none;
  color: #000000;
}

.footer-phone__link:hover {
  color: #756257;
  
}

.footer-phone__link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
  border-radius: 10px;
  color: #756257;
  
}

.footer-phone__link:active {
  box-shadow: none;
  outline: none;
  color: #756257;
  opacity: 0.3;
 
}


.footer-logo__link {
  position: relative;
  display: block;
  width: 160px;

  transform: translateY(17px);
}

.footer-logo__link:hover {
  color: #756257;
}

.footer-logo__link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
  border-radius: 10px;
  color: #756257;
}

.footer-logo__link:active {
  box-shadow: none;
  outline: none;
  color: #756257;
  opacity: 0.3;
}

.footer-social__logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.footer-social__logo:hover {
  fill: #756257;
}